.token

Enhancement-UW/data/*
!Enhancement-UW/data/input/test.file
!Enhancement-UW/data/output/test.file

ColorRestoration-UW/data/*
!ColorRestoration-UW/data/input/test.file
!ColorRestoration-UW/data/output/test.file

